/QuanLyHieuThuoc/build/
/QuanLyTiemThuoc/nbproject/private/
/QuanLyTiemThuoc/build/
/QuanLyTiemThuoc/nbbuild/
/QuanLyTiemThuoc/dist/
/QuanLyTiemThuoc/nbdist/
/QuanLyTiemThuoc/nbactions.xml
/QuanLyTiemThuoc/nb-configuration.xml